<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />
    <script src="assets/js/pace.min.js"></script>

    <!--plugins-->
    <link
      href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link
      href="assets/plugins/metismenu/css/metisMenu.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/plugins/OwlCarousel/css/owl.carousel.min.css"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/icons.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!--Theme Styles-->
    <link href="assets/css/dark-theme.css" rel="stylesheet" />
    <link href="assets/css/semi-dark.css" rel="stylesheet" />
    <link href="assets/css/header-colors.css" rel="stylesheet" />

    <title>Fobia - Bootstrap5 Admin Template</title>
  </head>
  <body>
    <!--start wrapper-->
    <div class="wrapper">
      <%-include('../common/sidebar .ejs') %> <%-
      include('../common/navbar.ejs') %>

      <!-- start page content wrapper-->
      <div class="page-content-wrapper">
        <!-- start page content-->
        <div class="page-content">
          <!--start breadcrumb-->
          <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Mobile</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0 align-items-center">
                  <li class="breadcrumb-item">
                    <a href="javascript:;"
                      ><ion-icon name="home-outline"></ion-icon
                    ></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Mobile Details
                  </li>
                </ol>
              </nav>
            </div>
          </div>
          <!--end breadcrumb-->

          <!--start product detail-->
          <section class="shop-page">
            <div class="shop-container">
              <div class="card shadow-sm border-0">
                <div class="card-body">
                  <div class="product-detail-card">
                    <div class="product-detail-body">
                      <div class="row g-0">
                        <div class="col-12 col-lg-5">
                          <div class="image-zoom-section">
                            <div
                              class="product-gallery owl-carousel owl-theme border rounded mb-3 p-3"
                              data-slider-id="1"
                            >
                              <div class="item">
                                <img
                                  src="assets/images/product-gallery/01.png"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                              <div class="item">
                                <img
                                  src="assets/images/product-gallery/02.png"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                              <div class="item">
                                <img
                                  src="assets/images/product-gallery/03.png"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                              <div class="item">
                                <img
                                  src="assets/images/product-gallery/04.png"
                                  class="img-fluid"
                                  alt=""
                                />
                              </div>
                            </div>
                            <div
                              class="owl-thumbs d-flex justify-content-center"
                              data-slider-id="1"
                            >
                              <button class="owl-thumb-item">
                                <img
                                  src="assets/images/product-gallery/01.png"
                                  class=""
                                  alt=""
                                />
                              </button>
                              <button class="owl-thumb-item">
                                <img
                                  src="assets/images/product-gallery/02.png"
                                  class=""
                                  alt=""
                                />
                              </button>
                              <button class="owl-thumb-item">
                                <img
                                  src="assets/images/product-gallery/03.png"
                                  class=""
                                  alt=""
                                />
                              </button>
                              <button class="owl-thumb-item">
                                <img
                                  src="assets/images/product-gallery/04.png"
                                  class=""
                                  alt=""
                                />
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-7">
                          <div class="product-info-section p-3">
                            <h3 class="mt-3 mt-lg-0 mb-0">
                              Allen Solly Men's Polo T-Shirt
                            </h3>
                            <div
                              class="product-rating d-flex align-items-center mt-2"
                            >
                              <div class="rates cursor-pointer font-13">
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-warning"></i>
                                <i class="bx bxs-star text-light-4"></i>
                              </div>
                              <div class="ms-1">
                                <p class="mb-0">(24 Ratings)</p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center mt-3 gap-2">
                              <h5
                                class="mb-0 text-decoration-line-through text-light-3"
                              >
                                $98.00
                              </h5>
                              <h4 class="mb-0">$49.00</h4>
                            </div>
                            <div class="mt-3">
                              <h6>Discription :</h6>
                              <p class="mb-0">
                                Virgil Abloh’s Off-White is a
                                streetwear-inspired collection that continues to
                                break away from the conventions of mainstream
                                fashion. Made in Italy, these black and brown
                                Odsy-1000 low-top sneakers.
                              </p>
                            </div>
                            <dl class="row mt-3">
                              <dt class="col-sm-3">Product id</dt>
                              <dd class="col-sm-9">#BHU5879</dd>
                              <dt class="col-sm-3">Delivery</dt>
                              <dd class="col-sm-9">Russia, USA, and Europe</dd>
                            </dl>

                            <!--end row-->
                            <div class="d-flex gap-2 mt-3">
                              <a
                                href="javascript:;"
                                class="btn btn-primary btn-ecomm"
                              >
                                <i class="bx bxs-cart-add"></i>Add to Cart</a
                              >
                            </div>
                            <hr />
                          </div>
                        </div>
                      </div>
                      <!--end row-->
                    </div>
                  </div>

                  <!--start product more info-->
                  <div class="product-more-info mt-4">
                    <ul class="nav nav-tabs mb-0" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link"
                          data-bs-toggle="tab"
                          href="#discription"
                          role="tab"
                          aria-selected="true"
                        >
                          <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">
                              Description
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link"
                          data-bs-toggle="tab"
                          href="#more-info"
                          role="tab"
                          aria-selected="false"
                        >
                          <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">
                              More Info
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a
                          class="nav-link"
                          data-bs-toggle="tab"
                          href="#tags"
                          role="tab"
                          aria-selected="false"
                        >
                          <div class="d-flex align-items-center">
                            <div class="tab-title text-uppercase fw-500">
                              Tags
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content pt-3">
                      <div
                        class="tab-pane fade"
                        id="discription"
                        role="tabpanel"
                      >
                        <p>
                          Raw denim you probably haven't heard of them jean
                          shorts Austin. Nesciunt tofu stumptown aliqua, retro
                          synth master cleanse. Mustache cliche tempor,
                          williamsburg carles vegan helvetica. Reprehenderit
                          butcher retro keffiyeh dreamcatcher synth. Cosby
                          sweater eu banh mi, qui irure terry richardson ex
                          squid. Aliquip placeat salvia cillum iphone. Seitan
                          aliquip quis cardigan american apparel, butcher
                          voluptate nisi.
                        </p>
                        <ul>
                          <li>Not just for commute</li>
                          <li>Branded tongue and cuff</li>
                          <li>Super fast and amazing</li>
                          <li>Lorem sed do eiusmod tempor</li>
                        </ul>
                        <p class="mb-1">
                          Cosby sweater eu banh mi, qui irure terry richardson
                          ex squid. Aliquip placeat salvia cillum iphone.
                        </p>
                        <p class="mb-1">
                          Seitan aliquip quis cardigan american apparel, butcher
                          voluptate nisi.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="more-info" role="tabpanel">
                        <p>
                          Food truck fixie locavore, accusamus mcsweeney's marfa
                          nulla single-origin coffee squid. Exercitation +1
                          labore velit, blog sartorial PBR leggings next level
                          wes anderson artisan four loko farm-to-table craft
                          beer twee. Qui photo booth letterpress, commodo enim
                          craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                          cillum PBR. Homo nostrud organic, assumenda labore
                          aesthetic magna delectus mollit. Keytar helvetica VHS
                          salvia yr, vero magna velit sapiente labore stumptown.
                          Vegan fanny pack odio cillum wes anderson 8-bit,
                          sustainable jean shorts beard ut DIY ethical culpa
                          terry richardson biodiesel. Art party scenester
                          stumptown, tumblr butcher vero sint qui sapiente
                          accusamus tattooed echo park.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="tags" role="tabpanel">
                        <div class="tags-box w-50">
                          <a href="javascript:;" class="tag-link">Cloths</a>
                          <a href="javascript:;" class="tag-link">Electronis</a>
                          <a href="javascript:;" class="tag-link">Furniture</a>
                          <a href="javascript:;" class="tag-link">Sports</a>
                          <a href="javascript:;" class="tag-link">Men Wear</a>
                          <a href="javascript:;" class="tag-link">Women Wear</a>
                          <a href="javascript:;" class="tag-link">Laptops</a>
                          <a href="javascript:;" class="tag-link"
                            >Formal Shirts</a
                          >
                          <a href="javascript:;" class="tag-link">Topwear</a>
                          <a href="javascript:;" class="tag-link">Headphones</a>
                          <a href="javascript:;" class="tag-link"
                            >Bottom Wear</a
                          >
                          <a href="javascript:;" class="tag-link">Bags</a>
                          <a href="javascript:;" class="tag-link">Sofa</a>
                          <a href="javascript:;" class="tag-link">Shoes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end product more info-->

                  <!--start similar products-->
                  <div class="d-flex align-items-center mt-3">
                    <h5 class="mb-0">Similar Products</h5>
                    <div class="d-flex align-items-center gap-0 ms-auto">
                      <a href="javascript:;" class="owl_prev_item fs-2"
                        ><i class="bx bx-chevron-left"></i
                      ></a>
                      <a href="javascript:;" class="owl_next_item fs-2"
                        ><i class="bx bx-chevron-right"></i
                      ></a>
                    </div>
                  </div>
                  <hr />
                  <div class="product-grid">
                    <div class="similar-products owl-carousel owl-theme">
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/01.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>5.0</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/02.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>5.0</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/03.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>4.9</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/04.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>5.0</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/05.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>3.9</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/06.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>5.0</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="card product-card">
                          <a
                            href="javascript:;"
                            class="position-absolute end-0 top-0 m-3"
                          >
                            <div class="product-wishlist">
                              <i class="bx bx-heart"></i>
                            </div>
                          </a>
                          <img
                            src="assets/images/similar-products/07.png"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <div class="product-info">
                              <a href="javascript:;">
                                <p class="product-catergory font-13 mb-1">
                                  Catergory Name
                                </p>
                              </a>
                              <a href="ecommerce-product-details.html">
                                <h6 class="product-name mb-2">
                                  Product Short Name
                                </h6>
                              </a>
                              <div class="d-flex align-items-center">
                                <div class="mb-1 product-price">
                                  <span
                                    class="me-1 text-decoration-line-through"
                                    >$99.00</span
                                  >
                                  <span class="fs-5">$49.00</span>
                                </div>
                                <div class="cursor-pointer ms-auto">
                                  <span>5.0</span>
                                  <i class="bx bxs-star text-warning"></i>
                                </div>
                              </div>
                              <div class="product-action mt-2">
                                <div class="d-grid gap-2">
                                  <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-ecomm"
                                  >
                                    <i class="bx bxs-cart-add"></i>Add to
                                    Cart</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--end similar products-->
                </div>
              </div>
            </div>
          </section>
          <!--end product detail-->
        </div>
        <!-- end page content-->
      </div>

      <!--start overlay-->
      <div class="overlay nav-toggle-icon"></div>
      <!--end overlay-->
    </div>
    <!--end wrapper-->

    <!-- JS Files-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <!--plugins-->
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="assets/plugins/OwlCarousel/js/owl.carousel.min.js"></script>
    <script src="assets/plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js"></script>
    <script src="assets/js/product-details.js"></script>

    <!-- Main JS-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
