<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img
        src="/assets/images/logo-icon-2.png"
        class="logo-icon"
        alt="logo icon"
      />
    </div>
    <div>
      <h4 class="logo-text">LOGO</h4>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="/dashboard">
        <div class="parent-icon">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <ion-icon name="bag-handle-outline"></ion-icon>
        </div>
        <div class="menu-title">Brand / Store</div>
      </a>
      <ul>
        <li>
          <a href="/brandfrom">
            <ion-icon name="ellipse-outline"></ion-icon>Add Brand / Store
          </a>
        </li>
        <li>
          <a href="/brandlist">
            <ion-icon name="ellipse-outline"></ion-icon>List Brand / Store
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Product</li>

    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="menu-title">Product</div>
      </a>
      <ul>
        <li>
          <a href="/addProduct">
            <ion-icon name="ellipse-outline"></ion-icon>Add Product
          </a>
        </li>
        <li>
          <a href="/addProductList">
            <ion-icon name="ellipse-outline"></ion-icon> Product List
          </a>
        </li>
        <li>
          <a href="/product-detail">
            <ion-icon name="ellipse-outline"></ion-icon> Product detaila
          </a>
        </li>
      </ul>
    </li>
    <%if(user.userType==="admin"){ %>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="menu-title">Mobile</div>
      </a>
      <ul>
        <li>
          <a href="/addmobileproduct">
            <ion-icon name="ellipse-outline"></ion-icon>Add Mobile
          </a>
        </li>
        <li>
          <a href="/addMobileProductList">
            <ion-icon name="ellipse-outline"></ion-icon> Mobile List
          </a>
        </li>
        <li>
          <a href="/mobile-detail">
            <ion-icon name="ellipse-outline"></ion-icon> Mobile details
          </a>
        </li>
      </ul>
    </li>
    <% } %> <%if(user.userType==="user"){ %>
    <li class="menu-label">User</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>
        <div class="menu-title">Profile</div>
      </a>
      <ul>
        <li>
          <a href="/profile">
            <div class="parent-icon">
              <ion-icon name="person-circle-outline"></ion-icon>
            </div>
            <div class="menu-title">User Profile</div>
          </a>
        </li>
        <li>
          <a href="/editprofile">
            <div class="parent-icon">
              <ion-icon name="create-outline"></ion-icon>
            </div>
            <div class="menu-title">Edit Profile</div>
          </a>
        </li>
      </ul>
    </li>
    <% } %>
  </ul>
  <!--end navigation-->
</aside>
