.sort-4wg {
  display: flex;
  border-radius: 20px;
  padding: 10px 10px 10px 0px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

ul.dropdown-r42 {
  width: 100%;
  position: absolute;
  background: white;
  padding: 0px 0px;
  z-index: 1;

}

ul.dropdown-r42>li {
  background-color: #ffff;
  padding: 0px 5px 0px 0px;
}

ul.dropdown-r42>li>h4 {
  background: #ffff;
  display: flex;
  padding: 2px 9px;
  justify-content: flex-start;
}

.imgdd {
  width: 20px;
}

#selectAllContainer {
  display: flex;
  background: #ffff;
  align-items: center;
  padding: 3px;
  color: black;
  font-size: 15px;
  font-size: unset;
  justify-content: space-around;
}

#selectAllCheckbox {
  margin-right: 5px;
}

#clearAllButton {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
}

#clearAllButton:hover {
  background-color: #d32f2f;
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-drawer .ant-drawer-body {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  overflow: auto;
}
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1qhpsh8 {
  width: 100% !important;
}