.sort-4wg {
  display: flex;
  border-radius: 20px;
  padding: 10px 10px 0px 0px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

ul.dropdown-r42 {
  display: none;
}

.dropdown-container:hover .dropdown-r42 {
  display: block;
}

ul.dropdown-r42 {
  position: absolute;
  padding: 10px 0px;
  width: 200%;
  z-index: 1;
  border-radius: 4px;
  filter: drop-shadow(2px 4px 6px black);
}

ul.dropdown-r42>li {
  background-color: #ffff;
  padding: 0px 5px 0px 0px;
}

ul.dropdown-r42>li>h4 {
  background: #ffff;
  display: flex;
  padding: 2px 9px;
  justify-content: flex-start;
}

.imgdd {
  width: 20px;
}

#selectAllContainer {
  display: flex;
  background: #ffff;
  align-items: center;
  padding: 3px;
  color: black;
  font-size: 15px;
  font-size: unset;
  justify-content: space-around;
}

#selectAllCheckbox {
  margin-right: 5px;
  /* Add some spacing between the checkbox and text */
}

#clearAllButton {
  margin-left: 10px;
  /* Add spacing to the left of the "Clear All" button */
  padding: 5px 10px;
  /* Add padding to the button for better appearance */
  cursor: pointer;
  background-color: #f44336;
  /* Red color for the button background */
  color: #fff;
  /* White color for the button text */
  border: none;
  border-radius: 3px;
}

#clearAllButton:hover {
  background-color: #d32f2f;
  /* Darker red on hover */
}