.location-list {
  /* background: #91b9b9; */
  border-radius: 20px;
  list-style-type: none;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.location-list li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.dropdown-container {
  position: relative;
}

.filter-pill {
  display: flex;
  cursor: pointer;
  text-decoration: none !important;
  align-items: center;
  position: relative;
  background-color: #e4e2e0;
  color: #2d2d2d;
  border: 2px solid #e4e2e0;
  border-radius: 0.5rem;
  outline: 0;
  margin: 4px 0.5rem 8px 0;
  padding: 0.5rem 1rem;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.34;
  max-width: 228px;
}

.filter-pill:hover {
  background-color: #d4d2d0;
  box-shadow: inset 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1);
}

.filter-pill:active,
.filter-pill:hover {
  background-color: #595959;
  border-color: #595959;
  color: #fff !important;
}

.filter-label {
  width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.4rem;
}

.arrow-icon {
  margin-left: 0.4rem;
  display: flex;
}

.filter-badge svg {
  fill: #fff;
  stroke: #fff;
}

.badge-text {
  display: none;
}
