body {  
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
    font-size:var(--font-size);
    line-height:1.5;
    color:var(--color-text);
    background:var(--bg-body);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --aside-w:  360px;  
    --per-row:  5;  
    --per-row:  10;  
    --per-row:  6;  
    --size:  32px;  
    --ph:  8px;  
    --phh:  12px;  
    --mv:  8px; 
    --per-row:  3;  
    --bg:  inital;  
    --img-w:  108px;  
    --aw:  calc(1px * var(--w));  
    --per-row:  3;  
    --item-width:  calc(100% / var(--per-row));  
    --img-height:  calc(250px / var(--per-row)); 
    --per-row:  4;  
    --img-height:  calc(600px / var(--per-row)); 
    --img-height:  calc(532px / var(--per-row)); 
    --img-height:  calc(800px / var(--per-row)); 
    --img-height:  min(calc(900px / var(--per-row)), 200px); 
    --per-row:  3.5; 
    --per-row:  4.5; 
    --s:  24px;  
    --s:  17px !important;  
} 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

body { 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol; 
    font-size: var(--font-size); 
    line-height: 1.5; 
    color: var(--color-text); 
    background: var(--bg-body); 
    height: 100%; 
    overscroll-behavior-x: none; 
    scrollbar-gutter: stable; 
    -webkit-text-size-adjust: none; 
    text-size-adjust: none;
} 

html { 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol; 
    font-size: var(--font-size); 
    line-height: 1.5; 
    color: var(--color-text); 
    background: var(--bg-body); 
    height: 100%; 
    overscroll-behavior-x: none; 
    scrollbar-gutter: stable; 
    -webkit-text-size-adjust: none; 
    text-size-adjust: none;
} 

:root { 
    --bg-body: gainsboro; 
    --bg-header: hsl(213, 84%, 25%); 
    --color-link: #007af5; 
    --color-link-hover: #0059b3; 
    --color-text: #333; 
    --color-price: darkgreen; 
    --color-drop-red: #b12704; 
    --main-width: 1220px; 
    --font-size: 14px; 
    --pv: 10px; 
    --ph: 12px; 
    --nph: calc(-1 * var(--ph)); 
    --phh: var(--ph); 
    --nphh: calc(-1 * var(--phh)); 
    --mv: 6px; 
} 

@media (min-width: 750px){ 
  :root { 
    --font-size: 15.45px; 
    --bg-body: #f1f3f6; 
    --pv: 12px; 
    --ph: 16px; 
    --mv: 16px;
  } 

  :root { 
    --top-fixed: 56px;
  } 
}     

:root { 
    --icon-chevron-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333333"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>'); 
    --icon-chevron-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333333"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/></svg>');
} 

main { 
    position: relative; 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: var(--main-width); 
    margin: 0 auto;
} 

@media (min-width: 750px){ 
  main { 
    padding: var(--mv) 10px;
  } 

  .pg-hom { 
    display: grid; 
    grid-template: "apps apps" "swiper news" "cats cats" "rest rest" / 520px 1fr; 
    grid-gap: 0 9px;
  } 
}     

.sm-box { 
    position: relative; 
    border: 1px solid gainsboro; 
    border-width: 1px 0; 
    background: white; 
    margin: var(--mv) 0;
} 

@media (min-width: 750px){ 
  .sm-box { 
    border-width: 1px; 
    border-radius: 4px; 
    box-shadow: 1px 1px 2px -1px #ccc;
  } 
}     

.pg-hom-apps { 
    grid-area: apps; 
    background: linear-gradient(to left,#f3e7e9 0%,#e3eeff 99%,#e3eeff 100%);
} 

* > .sm-box:first-child  { 
    margin-top: 0;
} 

.sm-box:-webkit-scrollbar { 
    display: none;
} 

.sm-swiper-wrapper { 
    position: relative; 
    height: 50vw; 
    display: flex; 
    flex-direction: column;
} 

.pg-hom-swiper { 
    margin: 0 0 var(--mv) 0;
} 

.pg-hom-swiper { 
    grid-area: swiper;
} 

@media (min-width: 750px){ 
  .pg-hom-swiper { 
    width: 520px; 
    height: 260px; 
    box-shadow: 1px 1px 2px -1px #ccc;
  } 
}     

.pg-hom-cats { 
    margin: 0 0 var(--mv) 0;
} 

.pg-hom-cats { 
    grid-area: cats; 
    background: linear-gradient(-225deg,#d2f9f0 0%,#f6e9fc 48%,#c8c2fa 100%);
} 

.pg-hom-top-stories { 
    display: flex; 
    background: #778899; 
    color: #fff;
} 

.pg-hom-top-stories { 
    margin: 0 0 var(--mv) 0;
} 

.pg-hom-top-stories { 
    grid-area: news;
} 

.sm-box + .sm-box  { 
    margin-top: 0;
} 

@media (min-width: 750px){ 
  .aside-360 { 
    --aside-w: 360px; 
    display: grid; 
    grid-template-columns: 1fr var(--aside-w); 
    grid-gap: var(--mv);
  } 

  .pg-hom .aside-360  { 
    grid-area: rest;
  } 
}     

.sm-cats { 
    --per-row: 5; 
    display: grid; 
    grid-template-columns: repeat(var(--per-row),1fr); 
    grid-gap: 8px 0; 
    width: 100%; 
    padding: 8px 4px;
} 

@media (min-width: 750px){ 
  .sm-cats { 
    --per-row: 10; 
    grid-auto-columns: 1fr!important;
  } 
}     

.sm-box > *  { 
    z-index: 1;
} 

.sm-cats.icon-s { 
    grid-gap: 16px 0;
} 

@media (min-width: 750px){ 
  .pg-hom-apps .sm-cats  { 
    --per-row: 6; 
    padding: 0 12px;
  } 
}     

.sm-swiper { 
    display: flex; 
    width: 100%; 
    flex: 1; 
    scroll-snap-type: x mandatory; 
    overflow-x: auto; 
    overflow-y: hidden; 
    scrollbar-width: none;
} 

.sm-swiper:-webkit-scrollbar { 
    display: none;
} 

.sm-swiper-indicators { 
    position: absolute; 
    bottom: .2857rem; 
    left: 0; 
    width: 100%; 
    z-index: 1; 
    text-align: right; 
    padding: 0 .4286rem; 
    box-sizing: border-box;
} 

@media (min-width: 750px){ 
  .sm-swiper-indicators { 
    display: none;
  } 
}     

.sm-slider-arrow { 
    --size: 32px; 
    z-index: 3;
} 

a { 
    text-decoration: none; 
    color: var(--color-link); 
    cursor: pointer;
} 

.c-b { 
    display: flex; 
    align-items: center; 
    justify-content: center;
} 

@media (min-width: 750px){ 
  .only-mobile { 
    display: none!important;
  } 
}     

.amzn-hub-cat { 
    margin-top: 4px; 
    padding: 4px 0; 
    border: 2px solid rgba(255,255,255,.5); 
    border-width: 2px 0; 
    position: relative; 
    background: rgba(250,235,215,.25);
} 

.amzn-hub-cat:after { 
    content: ""; 
    background: var(--icon-chevron-right) no-repeat center/contain; 
    width: 28px; 
    position: absolute; 
    right: 4px; 
    top: 0; 
    bottom: 0;
} 

a:hover { 
    color: var(--color-link-hover);
} 

.sm-box-header { 
    display: flex; 
    align-items: center; 
    padding: var(--pv) var(--phh);
} 

.pg-hom-top-stories .sm-box-header  { 
    padding: 9px;
} 

@media (min-width: 750px){ 
  .pg-hom-top-stories .sm-box-header  { 
    padding: 12px;
  } 
}     

.pg-hom-top-stories > .x  { 
    flex: 1; 
    padding: .5714rem .5714rem .5714rem 0; 
    overflow: hidden;
} 

@media (min-width: 750px){ 
  .aside-360 > *  { 
    min-width: 0;
  } 

  aside { 
    --ph: 8px; 
    --phh: 12px; 
    --mv: 8px;
  } 

  .aside-sticky > aside  { 
    position: sticky; 
    top: calc(var(--top-fixed) - 4px); 
    height: 100vh; 
    background: var(--bg-header); 
    background: linear-gradient(180deg,rgba(10,58,117,1) 0%,hsl(210,14%,78%) 149px,hsl(208,100%,96%) 100%); 
    box-shadow: 1px 1px 2px -1px #ccc; 
    border: 1px solid gainsboro; 
    padding: 8px; 
    overflow: hidden; 
    z-index: 1; 
    border-radius: 4px;
  } 
}     

.sm-cats > a  { 
    box-sizing: border-box; 
    padding: 0 4px; 
    text-align: center; 
    font-size: .9286rem; 
    overflow: hidden; 
    color: var(--color-text); 
    width: 100%; 
    max-width: 124px; 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 750px){ 
  .sm-cats > a  { 
    font-size: 1.0358rem;
  } 

  .pg-hom-apps .sm-cats > a  { 
    flex-direction: row; 
    align-items: center;
  } 
}     

.sm-cats > a:hover { 
    text-shadow: -.05ex 0 currentColor,.05ex 0 currentColor;
} 

.sm-swiper > *  { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    flex: 0 0 100%; 
    height: 100%; 
    scroll-snap-align: center; 
    scroll-snap-stop: always;
} 

ul { 
    list-style: none;
} 

.sm-swiper-indicators > ul  { 
    background: rgba(0,0,0,.2); 
    padding: .2143rem .4286rem; 
    border-radius: .4286rem; 
    display: inline-grid; 
    grid-gap: .2143rem; 
    grid-auto-flow: column;
} 

.sm-slider-arrow > div  { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 1px 5px #0000001c; 
    border-radius: 4px 0 0 4px; 
    width: var(--size); 
    height: calc(var(--size) * 2); 
    position: absolute; 
    top: calc(50% - var(--size)); 
    right: 0; 
    background: rgba(255,255,255,.7); 
    user-select: none;
} 

.sm-slider-arrow > div:first-child  { 
    border-radius: 0 4px 4px 0; 
    right: auto; 
    left: 0;
} 

.sm-slider-arrow > div::after { 
    content: ""; 
    background: var(--icon-chevron-right); 
    width: var(--size); 
    height: var(--size);
} 

.sm-slider-arrow > div:first-child::after { 
    background: var(--icon-chevron-left);
} 

.amzn-hub-cat img  { 
    height: 32px; 
    width: auto;
} 

.sm-box-title { 
    flex: 1;
} 

.pg-hom-top-stories .sm-box-title  { 
    width: 24px; 
    display: flex; 
    justify-content: center;
} 

.scroll { 
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
} 

.pg-hom-ts-posts { 
    grid-gap: 6px!important; 
    padding: 0!important;
} 

.sm-box .sm-articles  { 
    padding: 0 var(--ph) 10px var(--ph);
} 

.sm-articles.scroll { 
    display: grid; 
    grid-auto-columns: min(66.6667%,290px); 
    grid-auto-flow: column; 
    grid-gap: 8px; 
    padding: 0 8px; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
} 

@media (min-width: 750px){ 
  .sm-articles.scroll { 
    --per-row: 3; 
    grid-auto-flow: row; 
    grid-template-columns: repeat(var(--per-row),1fr); 
    padding: 0 var(--ph);
  } 
}     

.scroll:-webkit-scrollbar { 
    display: none;
} 

.sm-articles.scroll:-webkit-scrollbar { 
    display: none;
} 

sm-dap { 
    --bg: inital; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: var(--mv) 0; 
    position: relative; 
    height: calc(1px * var(--h)); 
    box-sizing: content-box; 
    background: var(--bg, transparent); 
    max-width: 100%;
} 

sm-dap:first-child { 
    margin-top: 0;
} 

sm-dap.t-d { 
    overflow: hidden;
} 

@media (min-width: 750px){ 
  sm-dap:not(.s) { 
    border-radius: 4px;
  } 

  sm-dap.p-d + .sm-box  { 
    margin-top: 0;
  } 

  .sm-box-group { 
    display: grid; 
    grid-auto-flow: column; 
    grid-gap: var(--phh);
  } 
}     

* > .sm-box:last-child  { 
    margin-bottom: 0;
} 

.sm-img { 
    max-width: 100%; 
    max-height: 100%; 
    font-size: 0; 
    object-fit: contain;
} 

.sm-cats > a > img  { 
    width: 100%; 
    height: auto; 
    max-height: none; 
    padding: 2px; 
    box-sizing: border-box; 
    border-radius: 4px;
} 

@media (min-width: 750px){ 
  .sm-cats > a > img  { 
    padding: 8px;
  } 
}     

.sm-cats.icon-s > a > img  { 
    padding: 4px 16px;
} 

.sm-cats.round > a > img  { 
    border-radius: 50%;
} 

@media (min-width: 750px){ 
  .sm-cats.icon-s > a > img  { 
    padding: 4px 16px 12px!important;
  } 

  .pg-hom-apps .sm-cats > a > img  { 
    width: 32px; 
    height: 32px; 
    padding: 8px 0!important; 
    margin: 0 12px 0 0; 
    box-sizing: content-box;
  } 
}     

.sm-cats > a:hover > img { 
    transform: scale(1.08);
} 

.sm-cats > a > span  { 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-top: 4px;
} 

@media (min-width: 750px){ 
  .sm-swiper img  { 
    border-radius: 4px;
  } 
}     

.sm-swiper-indicators > ul > li  { 
    display: inline-block; 
    width: .5rem; 
    height: .5rem; 
    background: #555; 
    border-radius: 50%;
} 

.sm-swiper-indicators > ul > li.on  { 
    background: white;
} 

.sm-box-header h2  { 
    font-size: 1.2858rem; 
    font-weight: 500; 
    line-height: 1.3333;
} 

.pg-hom-top-stories .sm-box-title h2  { 
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
} 

.sm-article { 
    --img-w: 108px; 
    display: grid; 
    grid-gap: 2px 14px; 
    grid-template: "image title" min-content "image info" min-content "image desc" min-content "image tags" 1fr / var(--img-w) 1fr; 
    margin-top: 16px; 
    cursor: pointer; 
    font-size: 13px; 
    line-height: 1.5;
} 

.sm-article:first-child { 
    margin-top: 0!important;
} 

.sm-article.text-on-image { 
    grid-template: "title" "info"; 
    height: 150px; 
    position: relative; 
    align-content: end; 
    padding: 4px 12px; 
    border-radius: 4px; 
    overflow: hidden; 
    font-size: 12px;
} 

.pg-hom-ts-posts > .sm-article  { 
    border: 1px solid #8594a3; 
    height: 132px;
} 

@media (min-width: 750px){ 
  .pg-hom-ts-posts > .sm-article  { 
    height: 118px;
  } 
}     

.sm-articles.scroll .sm-article  { 
    margin: 0;
} 

.sm-article.text-on-image:before { 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    background: linear-gradient(to bottom,rgba(0,0,0,.1) 20%,rgba(0,0,0,.8) 100%);
} 

sm-dap > div  { 
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transform-origin: center center; 
    background: var(--bg, ghostwhite); 
    --aw: calc(1px * var(--w)); 
    width: var(--aw, 100%); 
    height: calc(1px * var(--h));
} 

sm-dap.t-d > div  { 
    overflow: hidden;
} 

sm-dap:not(.s) > div  { 
    border-radius: 4px;
} 

.sm-products { 
    display: flex; 
    --per-row: 3; 
    --item-width: calc(100% / var(--per-row)); 
    --img-height: calc(250px / var(--per-row));
} 

@media (min-width: 750px){ 
  .sm-products { 
    --per-row: 4; 
    --img-height: calc(600px / var(--per-row));
  } 
}     

.sm-products.img-long { 
    --img-height: calc(532px / var(--per-row));
} 

.sm-products.grid { 
    flex-flow: row wrap; 
    overflow: hidden; 
    position: relative;
} 

@media (min-width: 750px){ 
  .sm-products.grid { 
    right: -2px; 
    margin-left: -2px;
  } 

  .sm-products.img-long { 
    --img-height: calc(800px / var(--per-row));
  } 

  .sm-products.img-long { 
    --img-height: min(calc(900px / var(--per-row)), 200px);
  } 
}     

.sm-products.list { 
    display: block; 
    overflow: hidden;
} 

.sm-products.scroll { 
    --per-row: 3.5;
} 

.sm-products.scroll { 
    padding: 0 .2143rem;
} 

@media (min-width: 750px){ 
  .sm-products.scroll { 
    --per-row: 4.5;
  } 
}     

.sm-box > .sm-products.scroll  { 
    padding-bottom: .5714rem;
} 

.sm-box > .sm-articles.scroll  { 
    padding-bottom: .5714rem;
} 

@media (min-width: 750px){ 
  .sm-box-group .sm-box  { 
    margin: 0;
  } 
}     

.sm-article > img  { 
    grid-area: image; 
    border-radius: 4px; 
    height: 81px; 
    object-fit: cover; 
    width: 100%;
} 

.sm-article.text-on-image > img  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
} 

.sm-article:hover > img { 
    transform: scale(1.07);
} 

[class^="clamp-"] { 
    box-sizing: content-box; 
    display: block; 
    display: -webkit-box!important; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    line-height: 1.5; 
    max-height: 3em;
} 

.clamp-2 { 
    max-height: 3em; 
    -webkit-line-clamp: 2;
} 

.sm-article > a  { 
    grid-area: title; 
    font-size: 15px; 
    font-weight: 700; 
    color: #444;
} 

.sm-article.text-on-image > a  { 
    z-index: 2; 
    color: #fff; 
    text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
} 

.pg-hom-ts-posts > .sm-article > a  { 
    font-size: 14px;
} 

.sm-article:hover > a { 
    color: #2874f0;
} 

.sm-article.text-on-image:hover > a { 
    color: wheat;
} 

sm-dap > div > :only-child:not(img)  { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
} 

.sm-box-actions { 
    font-size: .9286rem; 
    text-align: right;
} 

.sm-product { 
    display: grid; 
    grid-template: "img img" var(--img-height) "name name" 1fr "price menu" auto "drop drop" auto "rating rating" auto "actions actions" auto / 1fr 17px; 
    grid-gap: 0; 
    align-items: center; 
    flex: 0 0 var(--item-width); 
    font-size: .8572rem; 
    padding: 0 8px; 
    position: relative; 
    cursor: pointer;
} 

.grid .sm-product  { 
    border-top: 1px solid #eee; 
    border-right: 1px solid #eee; 
    padding: 8px 10px;
} 

@media (min-width: 750px){ 
  .grid .sm-product  { 
    padding: 10px 16px;
  } 
}     

.list .sm-product  { 
    flex: 1; 
    grid-gap: 0 12px; 
    grid-template: "img name name name" auto "img price drop drop" auto "img rating rating rating" auto "img tags tags tags" auto "img actions actions actions" 1fr / 130px auto auto 1fr; 
    align-items: start; 
    padding: 8px; 
    border-top: 1px solid #eee;
} 

@media (min-width: 750px){ 
  .list .sm-product  { 
    padding: 8px var(--ph); 
    grid-template: "img name name name" auto "img price drop drop" auto "img rating rating tags" auto "img actions actions actions" 1fr / 130px auto auto 1fr;
  } 
}     

.list.img-wide .sm-product  { 
    grid-template: "img name name name" auto "img price drop drop" auto "img rating rating rating" auto "img actions actions actions" 1fr "tags actions actions actions" auto / 160px auto auto 1fr;
} 

.list.size-s .sm-product  { 
    grid-template-columns: 60px auto auto 1fr;
} 

.list.size-s.img-wide .sm-product  { 
    grid-template-columns: 80px auto auto 1fr;
} 

.sm-img-wrap { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    height: 100%; 
    width: 100%;
} 

.sm-product > .sm-img-wrap  { 
    grid-area: img; 
    padding: 0 4px; 
    justify-self: center; 
    width: 100%; 
    height: var(--img-height); 
    object-fit: scale-down;
} 

.sm-product:hover > .sm-img-wrap { 
    transform: scale(1.07);
} 

 [class*=" clamp-"] { 
    box-sizing: content-box; 
    display: block; 
    display: -webkit-box!important; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    line-height: 1.5; 
    max-height: 3em;
} 

.sm-product > .name  { 
    grid-area: name; 
    color: var(--color-text); 
    margin: .6429rem 0 1px; 
    font-size: .9286rem;
} 

.size-s .sm-product > .name  { 
    font-size: .9572rem; 
    font-weight: 400;
} 

.sm-product > .name:hover { 
    color: #2874f0;
} 

.sm-product > .price  { 
    grid-area: price; 
    display: block; 
    font-size: 1.0358rem; 
    font-weight: 500; 
    color: var(--color-price); 
    margin-top: 2px;
} 

.icon { 
    width: 24px; 
    height: 24px;
} 

.icon { 
    --s: 24px; 
    width: var(--s); 
    height: var(--s); 
    fill: currentColor; 
    position: relative; 
    box-sizing: content-box; 
    display: inline-block; 
    line-height: 1;
} 

.sm-product > .icon  { 
    grid-area: menu; 
    background: transparent; 
    opacity: .3; 
    padding: 6px 3px 6px 6px; 
    margin: -4px -3px -6px 0; 
    color: #000; 
    --s: 17px !important; 
    overflow: hidden; 
    cursor: pointer;
} 

[class^="clamp-"], [class*=" clamp-"], [class*="i-clamp-"] > * { 
    box-sizing: content-box; 
    display: block; 
    display: -webkit-box!important; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    line-height: 1.5; 
    max-height: 3em;
} 

.clamp-3 { 
    max-height: 4.5em; 
    -webkit-line-clamp: 3;
} 

.sm-article > p  { 
    grid-area: desc; 
    color: #777;
} 

.list .sm-product > .sm-img-wrap  { 
    height: 100%;
} 

.list .sm-product > .name  { 
    font-size: 1.0286rem; 
    font-weight: 500; 
    margin: 0;
} 

.list .sm-product > .price  { 
    font-size: 1.2858rem; 
    margin-top: 5px; 
    align-self: center;
} 

.size-s.list .sm-product > .price  { 
    font-size: 1.0715rem; 
    margin-top: 3px;
} 

.sm-pdrop { 
    color: green;
} 

.sm-product > .sm-pdrop  { 
    grid-area: drop; 
    display: block; 
    font-size: .7143rem; 
    margin-top: 3px; 
    text-align: left;
} 

.list .sm-product > .sm-pdrop  { 
    margin: 5px 0 0 -4px; 
    align-self: center; 
    font-size: .8143rem;
} 

.size-s .sm-product > .sm-pdrop  { 
    margin-top: 3px;
} 

.sm-pdrop:before { 
    content: "\25bc"; 
    margin-right: .2em;
} 

.list .sm-product > .icon  { 
    position: absolute; 
    bottom: 3px; 
    right: 6px;
} 

.sm-pdrop.red { 
    color: var(--color-drop-red);
} 

.sm-pdrop.red:before { 
    content: "\25b2";
} 

.sm-comp-with > a  { 
    display: grid; 
    grid-template: "name1 img1 vs img2 name2" minmax(36px,auto) / 1fr 36px 36px 36px 1fr; 
    font-size: 13px; 
    line-height: 18px; 
    align-items: center; 
    padding: 8px var(--ph); 
    border-top: 1px solid #eee; 
    color: #333;
} 

.sm-comp-with > a:hover { 
    background: honeydew; 
    color: var(--color-link-hover);
} 

@media (min-width: 750px){ 
  aside .list .sm-product  { 
    border: 0;
  } 
}     

.list.size-xs .sm-product  { 
    grid-template-columns: 40px auto auto 1fr; 
    padding: 6px 8px;
} 

.sm-img-wrap > img  { 
    display: block; 
    position: absolute;
} 

.sm-comp-with > a > img:nth-child(1)  { 
    grid-area: img1; 
    max-width: 36px; 
    max-height: 36px; 
    justify-self: center;
} 

.sm-comp-with > a > img:nth-child(2)  { 
    grid-area: img2; 
    max-width: 36px; 
    max-height: 36px; 
    justify-self: center;
} 

.sm-comp-with > a > span:nth-child(3)  { 
    grid-area: name1; 
    padding-right: 6px;
} 

.sm-comp-with > a > span:nth-child(4)  { 
    grid-area: vs; 
    justify-self: center; 
    color: #708090; 
    font-weight: 700;
} 

.sm-comp-with > a > span:nth-child(5)  { 
    grid-area: name2; 
    text-align: right; 
    padding-left: 6px;
} 

.size-xs .sm-product > .name  { 
    font-size: .8572rem; 
    font-weight: 400;
} 

.size-xs .sm-product > .price  { 
    font-size: .8572rem; 
    margin-top: 3px;
} 

.size-xs.list .sm-product > .price  { 
    font-size: .9572rem;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-H8RIx.style-H8RIx {  
   --w:728;  
   --h:90;  
}  
#style-aPvmc.style-aPvmc {  
   --w: 300;  
    --h: 250;  
}  
