body {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  /* overflow: hidden; */
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--f7-font-family);
  font-size: var(--f7-font-size);
  line-height: var(--f7-line-height);
  color: var(--f7-text-color);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  background: #fff;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

:root {
  --f7-theme-color: #007aff;
  --f7-safe-area-bottom: 0px;
}

:root {
  --f7-safe-area-bottom: env(safe-area-inset-bottom);
}

:root {
  --f7-font-size: 14px;
}

:root {
  --f7-bars-bg-color: #f7f7f8;
}

:root {
  --f7-statusbar-height: 0px;
  --f7-statusbar-bg-color: var(--f7-bars-bg-color);
}

:root {
  --f7-link-highlight-black: rgba(0, 0, 0, 0.1);
  --f7-link-highlight-color: var(--f7-link-highlight-black);
}

@media (min-width: 768px) {
  :root {
    --f7-navbar-height: var(--f7-navbar-tablet-height);
  }

  :root {
    --f7-tabbar-labels-height: var(--f7-tabbar-labels-tablet-height);
    --f7-tabbar-label-font-size: var(--f7-tabbar-label-tablet-font-size);
  }
}

:root {
  --f7-touch-ripple-black: rgba(0, 0, 0, 0.1);
  --f7-touch-ripple-color: var(--f7-touch-ripple-black);
}

:root {
  --f7-dialog-button-text-color: var(--f7-theme-color);
}

* {
  --f7-page-subnavbar-offset: var(--f7-subnavbar-height);
}

.segments {
  padding: 25px 0;
}

.container {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  --f7-cols-per-row: 1;
}

.row {
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

.categories .row:last-child {
  margin-bottom: 0;
}

.row>[class*="col-"] {
  box-sizing: border-box;
  width: calc((100% - var(--f7-grid-gap) * (var(--f7-cols-per-row) - 1)) / var(--f7-cols-per-row));
}

.row .col-20 {
  --f7-cols-per-row: 5;
}

.categories .content {
  text-align: center;
  margin-bottom: 30px;
}

a {
  outline: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--f7-theme-color);
}

a {
  color: #333;
}

a:focus {
  outline: 0;
}

.categories .content .icon {
  display: flex;
  border: solid #e2e2e2;
  background: #fff;
  border-radius: 11px;
  width: 200px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.15);
}


.categories .content .icon:hover {
  border: 3px solid #619df5;

}

.categories .content:hover .icon img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}



.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.categories .content .icon i {
  font-size: 21px;
  color: #1948ff;
}


img.departimg {
  width: 100%;
  padding: 12px;
}

span.topings {
  display: flex;
  background: white;
  top: -8%;
  width: auto;
  font-size: 17px;
  height: 23px;
  text-align: center;
  left: 24%;
  padding: 0px 13px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

span.topings1 {
  display: flex;
  background: white;
  bottom: 3%;
  width: auto;
  border-radius: 11%;
  font-size: 14px;
  height: auto;
  text-align: center;
  left: 80%;
  padding: 2%;
  position: absolute;
  align-items: center;
  justify-content: center;
}


/* nsjnnjnddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
.mainflexprovider {
  display: flex;
  height: auto;
}

.Departmentdropdown {
  display: block;
  width: 30%;
  /* height: 90%; */
  overflow: hidden;
}

.catogoryscroll {
  display: flex;
  overflow-y: scroll;
}

.displayflex {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.form-data-wrapper {
  display: flex;
  width: 60%;
  margin: left;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.form-data-wrapper1 {
  display: flex;
  width: 100%;
  padding: 10px;
  /* margin-left: 56px; */
  align-items: center;
}

.dropdowndepartmentoptions .card_amazon {
  padding: 5px;
  cursor: pointer;
}

.dropdowndepartmentoptions .card_amazon:hover {
  background-color: #f0f0f0;
}

/* Adjust styles as needed */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("http://127.0.0.1:5500/fonts/fa-regular-400.eot");
  src: url("http://127.0.0.1:5500/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("http://127.0.0.1:5500/fonts/fa-regular-400.woff2") format("woff2"), url("http://127.0.0.1:5500/fonts/fa-regular-400.woff") format("woff"), url("http://127.0.0.1:5500/fonts/fa-regular-400.ttf") format("truetype"), url("http://127.0.0.1:5500/fonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("http://127.0.0.1:5500/fonts/fa-solid-900.eot");
  src: url("http://127.0.0.1:5500/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("http://127.0.0.1:5500/fonts/fa-solid-900.woff2") format("woff2"), url("http://127.0.0.1:5500/fonts/fa-solid-900.woff") format("woff"), url("http://127.0.0.1:5500/fonts/fa-solid-900.ttf") format("truetype"), url("http://127.0.0.1:5500/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.page {
  box-sizing: border-box;
  position: absolute;
  background: white !important;
  top: 9%;
  width: 57%;
  height: 90%;
  overflow-y: scroll;
  transform: none;
  background-color: var(--f7-page-bg-color);
  z-index: 1;
  padding: 30px;
  border-radius: 2px;

}

.alignmentflx {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: brightness(.1);
  backdrop-filter: brightness(.1);
  justify-content: center;
}

.page-content {
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, 0px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
  padding-bottom: calc(var(--f7-page-toolbar-bottom-offset, 0px) + var(--f7-safe-area-bottom) + var(--f7-page-content-extra-padding-bottom, 0px));
}

.segments {
  padding: 25px 0;
}


.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  --f7-cols-per-row: 1;
}

.row {
  margin-bottom: 15px;
}

.row:last-child {
  margin-bottom: 0;
}

.row>[class*="col-"] {
  box-sizing: border-box;
  width: calc((100% - var(--f7-grid-gap) * (var(--f7-cols-per-row) - 1)) / var(--f7-cols-per-row));
}

.row .col-33 {
  --f7-cols-per-row: 3;
}

a {
  outline: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--f7-theme-color);
}

a {
  color: #333;
}

.all-categories .content {
  text-align: center;
}

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.all-categories .content i {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #fff;
  color: #1948ff;
  font-size: 36px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
}

/* .fa-tshirt:before { 
    content: "\f553";
} 

p { 
    margin: 1em 0;
} 

p { 
    margin: 0;
}  */

.all-categories .content p {
  font-weight: 500;
}

.navbar.navbar-page {
  display: flex;
  font-weight: 700;
  font-size: 40px;
  justify-content: center;
}

span.crosstoclose {
  position: absolute;
  right: 3%;
  top: -4px;
  font-size: 52px;
}

span.crosstoclose:hover {
  color: red;
  transform: scale(1.1);
}

.title {
  margin-bottom: 10px;
}

.categories.segments.snipcss-jPyl7 {
  /* background: white; */
  margin-top: 30px;
}

span.ant-select-selection-placeholder {
  color: black !important;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 2px solid #7a7a7a;
  background: #ffffff;
}

h1.titlesh {
  /* display: inline-block; */
  position: absolute;
  background: white;
  padding: 0px 22px;
  left: 5%;
  /* right: 45%; */
  top: -4%;
  color: #1d5a9f;
  width: auto;
  text-align-last: center;
}

h3.titlesh1 {
  position: absolute;
  background: white;
  color: #5086fa;
  width: auto;
  top: -5%;
  left: 5%;
  padding: 0px 10px;
  font-size: 18px;
}

/* .titlesh11 {
  display: block;
  position: absolute;
  background: white;
  color: #827e7e;
  width: auto;
  bottom: 0%;
  z-index: 1;
  left: 29%;
  cursor: default;
  padding: 0px 10px;
  font-size: 15px;
} */

.sjiiudbs {
  position: relative;
  display: flex;
  margin: 26px 59px;
  border: 3px solid #0d6efd;
 border-radius: 8px;
  /* overflow: hidden; */
  flex-direction: column;
  padding: 31px 7px;
}

.topdivsellerscroll {
  display: flex;
}

.sjiiudbs22 {
  display: flex;
  position: relative;
  margin: 13px 11px;
  border: 3px solid #0d6efd;
 border-radius: 8px;
  max-height: 268px;
  overflow-x: clip;
}

.sjiiudbs2222 {
  display: flex;
  position: relative;
  margin: 13px 11px;
  border: 3px solid #0d6efd;
 border-radius: 8px;
  max-height: 268px;
  overflow-x: clip;
}

.sjiiudbs223 {
  display: flex;
  position: relative;
  margin: 13px 11px;
  border: 3px solid #0d6efd;
 border-radius: 8px;
  max-height: 268px;
  width: 282px !important;
  overflow-x: clip;
}


.sjiiudbs22 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: flex-start;
}

.sjiiudbs22 .categories.segments.snipcss-jPyl7 {
  overflow-y: hidden;
}

.sjiiudbs2222 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: flex-start;
}

.sjiiudbs2222 .categories.segments.snipcss-jPyl7 {
  overflow-y: hidden;
  width: 100%;
}

.sjiikdudbs {
  padding: 2px;
  background: white;
}

.categories.segments.snipcss-jPyl7::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
  transition: background-color 1s ease;
  /* Transition for background color */
}

.categories.segments.snipcss-jPyl7:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  /* Make scrollbar visible on hover */
  background-color: rgb(97, 156, 204);
  /* Change color on hover */
  transition: background-color 2.3s ease-in-out;
  /* Smooth transition for background color with a 3-second delay */
}

.categories.segments.snipcss-jPyl7::-webkit-scrollbar-thumb {
  animation: hideScrollbar 2s linear 3s forwards;
  /* Delayed animation */
}

/* Keyframe animation to hide the scrollbar after 2 seconds */
@keyframes hideScrollbar {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



:where(.css-dev-only-do-not-override-1qhpsh8).ant-card .ant-card-body {
  padding: 6px;
  border-radius: 0 0 8px 8px;
}

.ccccccc {
  max-height: none;
}

/* .categories.segments.snipcss-jPyl7:hover .titlesh11 {
  display: flex !important;
} */
